<ion-content class="background ion-padding" >
<ion-grid >
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-img class="displayed" src="../assets/images/enfagrow_logo.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row class="containertext ion-align-items-center">
            <ion-col  >
				<ion-input name="names" placeholder="Name" [(ngModel)]="initName"></ion-input>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col  class="ion-text-center">
			    <ion-button shape="round" expand="default" fill="outline" color="#2d355e" (click)="onNext()">Register</ion-button>
            </ion-col>
		 </ion-row>
		 <ion-row>
				<ion-col>
					
				</ion-col>
		</ion-row>
		<ion-row>
				<ion-col>
	
				</ion-col>
		</ion-row>
		<ion-row>
				<ion-col>
					
				</ion-col>
	    </ion-row>
         <ion-row>
            <ion-col>
					<ion-button  shape="round"  fill="outline" color="Tertiary" class="ion-float-left" position="bottom" href="reglist" >ADMIN</ion-button>
					<ion-button [disabled]="initName == ''"  shape="round"  fill="outline" color="Tertiary" class="ion-float-right" position="bottom" (click)="onNext()">NEXT</ion-button>
            </ion-col>
         </ion-row>
</ion-grid>
</ion-content>


