<ion-content class="background ion-padding">
  <ion-grid class="ion-text-center">
    <ion-row class="displayed ion-text-center">
      <ion-col >
        <ion-img src="../assets/images/enfagrow_logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <!-- <ion-row  class="containertext ion-align-items-center">
            <ion-col >
                <ion-input placeholder="SEARCH" ></ion-input>
            </ion-col>
         </ion-row> -->
    <ion-row  >
      <ion-col>
        <ion-list style="overflow-y: scroll !important; display: inline-block; height: 540px;justify-content: center;align-items: center!important;">
          <ion-item *ngFor="let visit; of visitors" >
            <ion-label>
              <h2  class="ion-text-center">{{ visit.names }}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape="round" fill="outline" color="Tertiary" class="ion-float-right" position="bottom" href="home">
          BACK</ion-button>
        <ion-button shape="round" fill="outline" color="Tertiary" class="ion-float-left" position="bottom" (click)="exportSqlite()" >
            Export</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>